body{
    padding-top:5%;
    padding-bottom:5%;
    background-color:black !important;
    color:white !important;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important; 
  }

.jumbotron{
    text-align:left;
    background-color:#353535 !important;
}

.jumbotron-title{
    font-size:72pt;
}

.card{
    background-color:#353535 !important;
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem;
}

.card-title{
    font-size:24pt;
    font-weight:bold;
}

.clickable:hover{
    cursor:pointer;
    outline:dashed !important;
}


.huge-font{
    font-size:72pt;
}

.big-font{
    font-size:36pt;
}

.med-font{
    font-size:24pt;
}

.small-font{
    font-size:16pt;
}

.socials{
    text-align:right;
    padding-right:25%;
} 

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }